header, main, footer {
    width: 900px;
    background-color: antiquewhite;
    margin: 0 auto;
    padding: 50px;
    font-size: 26px;
}
.menu {
    display: flex;
}
.menu > li {
    flex: 1;
}
@media all and (max-width: 600px) {
    .container {
        flex-wrap: wrap;
    }
    .container > li {
        flex-basis: 50%;
    }
}