header, main, footer {
    width: 90%;
    background-color: white;
    margin: 0 auto;
    padding: 50px;
    font-size: 26px;
}
ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    text-decoration: none;
 }
 
 li {
    display: inline;
 }
 li a {
    text-decoration: none;
 }