body {
    background-color: #5cdb95;
    color: black;
}
header, main, footer {
    width: 900px;
    background-color: white;
    margin: 0 auto;
    padding: 50px;
    font-size: 36px;
}
/* Header style start*/
header {
    padding-right: 0;
    width: 950px;
}
header, main {
    border-bottom: #8EEaAF 5px solid;
}
header h1 {
    font-family: "Zapfino";
    font-size: "48px";
    text-align: center;
    color: darkslategray
    text-shadow: darkolivegreen;
    line-height: 84px;
}
#logo {
    float: left;
}
#little-container{
    margin-left: 200px;
}
nav ul li {
    display: inline-block;
    background-color: #8EEaAF;
    padding: 12px;
    margin-top: 25px;
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul li {
    background-color: darkgreen;
}
nav ul {
    text-align: right;
}
nav ul li a{
    text-decoration: none;
}
nav ul li a:link {
    color: white;
}

nav ul li a:visited{
    color: white;
}
nav ul li a:hover {
    text-decoration: none;
    color: #8EEaAF;
}

nav ul li a:active {
    color: darkgray;
}


/* header style ends */

/*Footer style starts*/
footer p {
    color: black;
    font-family: "Arial";
    line-height: 48px;
}
#copyright {
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
}
#social-links ul{
    text-align: right;
    margin-bottom: 20px;
}
#social-links ul li {
    display: inline-block;
    border: solid 1px #5cdb95;
    border-radius: 10px;;
    padding: 10px;
}
#social-links ul a:hover, #social-links ul li:hover {
    color: white;
    background-color: #8EEaAF;
}
#social-links ul li a {
    text-decoration: none;
    color: #5cdb95;;
}

/*Footer style ends*/
/*Main default styles*/
main {
    font-family: Arial;
    color: black;
}
main h1 {
    font-family: "Zapfino"
    font-size: 36px;
    text-align: center;
    line-height: 80px;
    margin-top: 30px;
}
main p {
    font-size: 24px;
}
/*main default style ends*/


/* homepage style start*/
main#homepage p {
    margin: 20px;
    line-height: 30px;
    text-align: justify;
}
/* homepage style end*/
/* gallery style end*/
#gallery div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}
#gallery div img{
    width: 200px;
    height: 300px;
}
/*gallery end*/

/*contact start*/
#contact > hr {
    border: dotted 2px teal;
}
#contact-flexbox {
    display: flex;
}

#contact-flexbox div:first-child {
    flex-grow: 3;
}

#contact-flexbox div:last-child {
    flex-grow: 1;
    background-color: white;

}

#contact-form {
    width: 400px;
    margin: 20px;
}

#contact-form label {
    font-size: 24px;
}

#contact-form input {
    border: dashed 1px black;
    width: 400px;
    height: 50px;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 18px;
    color: black;
    padding-left: 11px;
}
.form-buttons {
    margin: 20px;
    color: turquoise;
    font-size: 18px;
}
#contact-form .form-buttons:hover {
    border: solid blue 5px;
}
#contact-form textarea {
    border: dashed 5px black;
    color: turquoise;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    padding: 11px;
    font-size: 18px;
}

/*contact end*/