body {
    background-color: red;
}
header, main, footer {
    width: 900px;
    background-color: white;
    margin: 0 auto;
    padding: 50px;
    font-size: 36px;
    font-family: cursive;
}
header, main {
    border-bottom: black 5px solid;
}
header h1 {
    font-family: "Zapfino";
    font-size: "48px";
    color: red;
    line-height: 96px;
    text-align: center;

}
#logo {
    float: left;
}
#little-container{
    float: right;
}