body {
    background-color: #5cdb95;
}
header, main, footer {
    width: 900px;
    background-color: white;
    margin: 0 auto;
    padding: 50px;
    font-size: 36px;
    font-family: cursive;
}
header {
    padding-right: 0;
    width: 950px;
}
header, main {
    border-bottom: black 5px solid;
}
header h1 {
    font-family: "Zapfino";
    font-size: "48px";
    text-align: center;
    color: pink;
    line-height: 84px;
}
#logo {
    float: left;
}
#little-container{
    margin-left: 200px;
}
nav ul li {
    display: inline-block;
    background-color: pink;
    padding: 12px;
    margin-top: 25px;
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul {
    text-align: right;
}