header, main, footer {
    width: 900px;
    background-color: antiquewhite;
    margin: 0 auto;
    padding: 50px;
    font-size: 26px;
}
.menu ul li {
    display: inline-block;
    background-color: # yellow;
    padding: 12px;
    margin-top: 25px;
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}