header, main, footer {
    width: 900px;
    background-color: antiquewhite;
    margin: 0 auto;
    padding: 50px;
    font-size: 26px;
}
header .menu li {
    display: flex;
    list-style-type: none;
}