header, main, footer {
    width: 900px;
    background-color: antiquewhite;
    margin: 0 auto;
    padding: 50px;
    font-size: 26px;
}
header .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
header .menu li {
    list-style-type: none;
    float: left;
}